body{
  margin: 0;
  padding: 0;
  font-size: 14px;
}
.detail{

}
.header-top{
  position: fixed;
  background: #0057B4;
  box-shadow: 0px 3px 6px 0px rgba(0, 87, 180, 0.38);
  display: flex;
  color: #fff;
  width: 100%;
  justify-content: space-between;
  z-index: 100;
}
.header-top .header-left{
  display: flex;
}
.header-left .header-img{
  width: 397px;
  height: 39px;
  margin: 11px 20px;
}
.header-top .header-left .tab{
  display: flex;
}
.header-left .tab div{
  line-height: 61px;
  padding: 0 20px;
}
.header-left .tab div:hover{
  cursor: pointer;
  background: #fff;
  color: #0057B4;
}
.header-top .header-right{
  display: flex;
  margin-right: 20px;
}
.header-right .avart{
  width: 30px;
  height: 30px;
  margin-top: 15px;
}
.header-right .userName{
  line-height: 61px;
  margin: 0 13px;
}
.header-right .down{
  width: 17px;
  height: 10px;
  margin-top: 25px;
}
.active{
  background: #fff;
  color: #0057B4;
}
.detail .detail-content{
  padding: 80px 3% 0;
  box-sizing: border-box;
}
.detail-content .detail-title{
  font-weight: 600;
}
.detail-content .detail-search{
  background: #FFFFFF;
  border: 1px solid #EEEEEE;
  border-radius: 4px;
  width: 100%;
  margin: 20px 0;
  padding: 20px 25px 15px;
  box-sizing: border-box;
}
.detail-search .search-top .item{
  display: inline-block;
  color: #999;
  margin-right: 20px;
  cursor: pointer;
}
.detail-search .tabs{
  position: relative;
}
.tabs .search-button{
  position: absolute;
  right: 25px;
  top: -10px;
}
.detail .detail-table{
  background: #FFFFFF;
  border: 1px solid #EEEEEE;
  border-radius: 4px;
  width: 100%;

}
.detail .title1{
  display: flex;
  padding: 18px 20px 18px 0;
  font-weight: 600;
  line-height: 26px;
  display: flex;
  justify-content: space-between;
}
.title1 .title-left{
  display: flex;
}
.detail .title1 .border{
  width: 4px;
  height: 25px;
  background: #1890FF;
  margin-right: 12px;
}
.safe-label{
  position: relative;
}
.safe-label .down-list{
  background: #FFFFFF;
  box-shadow: 0px 3px 6px 0px rgba(0, 87, 180, 0.38);
  position: absolute;
  width: 240px;
  padding: 0 !important;
  left: 0;
}
.down-list .down-item{
  padding: 0 !important
}
.down-item img{
  width: 18px;
  height: 18px;
  margin-top: 11px;
}
.down-item .down-top{
  line-height: 40px !important;
  color: #666666;
  display: flex;
  justify-content: space-between;
  font-weight: 600;
}
.down-item .down-active{
  color: #0057B4;
}
.down-item .down-bottom{
  padding: 0 !important;
  text-align: center;
  color: #333333;
}
.down-item .down-bottom div{
  line-height: 40px !important;
  background: #EAF4FE;
}
.down-item .down-bottom div:hover{
  color: #fff;
  background: #0057B4;
}
.search-top .search-input{
  width: 40%;
  margin-right: 30px;
}
.bottom{
  text-align: center;
  font-size: 12px;
  margin-top: 30px;
  padding-bottom: 20px;
}
@media only screen and (min-width:700px) and (max-width:1920px){
  .header-top .header-right1{
    display: none !important;
  }
  .search-button1{
    display: none;
  }
  .detail-table1{
    display: none;
  }
}
@media only screen and (min-width:300px) and (max-width:720px) {
  .header-top{
    padding: 13px 15px;
    box-sizing: border-box;
  }
	.header-top .header-img{
    width: 199px;
    height: 20px;
    margin: 0;
  }
  .header-top .tab{
    display: none !important;
  }
  .header-top .header-right{
    display: none !important;
  }
  .header-top .header-right1 img{
    width: 20px;
    height: 16px;
  }
  .search-top .item{
    display: none !important;
  }
  .detail-content .detail-search{
    padding: 12px;
  }
  .search-top .search-input{
    width: 100%;
  }
  .tabs .search-button{
    display: none;
  }
  .el-form--inline .el-form-item{
    display: flex;
    margin-bottom: 10px;
  }
  .detail .detail-content{
    padding: 60px 3% 0;
  }
  .search-button1{
    display: flex;
    justify-content: flex-end;
  }
  .detail-table{
    display: none;
  }
  .detail-table1{
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    border-radius: 4px;
    width: 100%;
  }
  .title{
    display: flex;
    padding: 12px 0;
    font-weight: 600;
    line-height: 12px;
    font-size: 12px;
    display: flex;
    justify-content: space-between;
  }
  .title .title-left{
    display: flex;
  }
  .title .border{
    width: 2px;
    height: 13px;
    background: #1890FF;
    margin-right: 12px;
  }
  .table-list{
    padding: 12px 10px;
    box-sizing: border-box;
    border-top: 0.5px solid #E5E5E5;
    font-size: 11px;
  }
  .table-list .list-top{
    display: flex;
    justify-content: space-between;
  }
  .list-top span{
    color: #007AF2;
  }
  .list-center{
    margin-top: 10px;
    padding-bottom: 15px;
    border-bottom: 0.5px solid #E5E5E5;
  }
  .list-center .center1{
    line-height: 24px;
    display: flex;
  }
  .list-center .center1 span{
    flex: 1;
  }
  .list-center .center2{
    overflow: hidden;
    line-height: 24px;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .list-bottom{
    padding: 12px 36px 0;
    display: flex;
    justify-content: space-between;
  }
  .list-bottom .bottom-item{
    display: flex;
  }
  .list-bottom .bottom-item img{
    width: 13px;
    height: 13px;
    margin-right: 8px;
  }
  .list-bottom .bottom-item span{
    color: #007AF2;
  }
  .table-num{
    border-top: 0.5px solid #E5E5E5;
    padding-top: 10px;
    box-sizing: border-box;
  }
  .table-num .num-top{
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
  }
  .num-top span{
    color: #999999;
    line-height: 32px;
  }
  .table-num .num-bottom{
    margin-top: 8px;
    padding: 8px 20px 8px 10px;
    display: flex;
    justify-content: space-between;
    background: #D3E9FF;
  }
  .bottom{
    font-size: 11px;
    margin-top: 20px;
  }
  .header-list{
    width: 100vw;
    height: 100vh;
    z-index: 100;
    background: #F5F5F5;
    position: fixed;
    padding: 60px 3% 0;
    box-sizing: border-box;
  }
  .header-list .list-item{
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 10px;
  }
  .list-item .header-one{
    height: 35px;
    line-height: 35px;
    background: #fff;
  }
  .list-item .header-two{
    margin-top: 10px;
    height: 35px;
    line-height: 35px;
    background: #0057B4;
    color: #fff;
  }
  .list-item .item-bottom{
    padding: 14px 15px;
    background: #fff;
  }
  .item-bottom img{
    width: 17px;
    height: 17px;
    display: inline-block;
    margin-top: 9px;
  }
  .item-bottom .header-three{
    height: 35px;
    line-height: 35px;
    display: flex;
    justify-content: space-between;
    color: #0057B4;
  }
  .item-bottom .header-four{
    height: 35px;
    line-height: 35px;
    text-align: left;
    background: #EAF4FE;
    padding: 0 20px;
    box-sizing: border-box;
    color: #333;
  }
  .item-bottom .header-five{
    display: flex;
    height: 35px;
    line-height: 35px;
    justify-content: space-between;
    color: #333;
  }
}