body{
  padding: 0;
  margin: 0px;
  font-size: 14px;
  height: 100vh;
}
.form{
  height: 100%;
}
.header-top{
  position: fixed;
  background: #0057B4;
  box-shadow: 0px 3px 6px 0px rgba(0, 87, 180, 0.38);
  display: flex;
  color: #fff;
  width: 100%;
  justify-content: space-between;
  z-index: 100;
}
.header-top .header-left{
  display: flex;
}
.header-left .header-img{
  width: 397px;
  height: 39px;
  margin: 11px 20px;
}
.header-top .header-left .tab{
  display: flex;
}
.header-left .tab div{
  line-height: 61px;
  padding: 0 20px;
}
.header-left .tab div:hover{
  cursor: pointer;
  background: #fff;
  color: #0057B4;
}
.header-top .header-right{
  display: flex;
  margin-right: 20px;
}
.header-right .avart{
  width: 30px;
  height: 30px;
  margin-top: 15px;
}
.header-right .userName{
  line-height: 61px;
  margin: 0 13px;
}
.header-right .down{
  width: 17px;
  height: 10px;
  margin-top: 25px;
}
.active{
  background: #fff;
  color: #0057B4;
}
.form-content{
  padding: 120px 3% 0;
  /* height: 73%; */
}
.form .label{
  display: flex;
  height: 36px;
  line-height: 36px;
  font-size: 12px;
  background: #EDF6FF;
  padding:0 3%;
  box-sizing: border-box;
  position: fixed;
  width: 100%;
  top: 61px;
  z-index: 90;
  cursor: pointer;
}
.label span:last-child{
  color: #007AF2;
  margin-left: 5px;
}
.form-content .form-title{
  font-weight: 600;
  margin-bottom: 20px;
}
.form-content .form-info{
  background: #FFFFFF;
  border: 1px solid #EEEEEE;
  border-radius: 4px;
  width: 100%;
  height: 95%;
  padding: 35px 25px;
  box-sizing: border-box;
}
.safe-label{
  position: relative;
}
.safe-label .down-list{
  background: #FFFFFF;
  box-shadow: 0px 3px 6px 0px rgba(0, 87, 180, 0.38);
  position: absolute;
  width: 240px;
  padding: 0 !important;
  left: 0;
}
.down-list .down-item{
  padding: 0 !important
}
.down-item img{
  width: 18px;
  height: 18px;
  margin-top: 11px;
}
.down-item .down-top{
  line-height: 40px !important;
  color: #666666;
  display: flex;
  justify-content: space-between;
  font-weight: 600;
}
.down-item .down-active{
  color: #0057B4;
}
.down-item .down-bottom{
  padding: 0 !important;
  text-align: center;
  color: #333333;
}
.down-item .down-bottom div{
  line-height: 40px !important;
  background: #EAF4FE;
}
.down-item .down-bottom div:hover{
  color: #fff;
  background: #0057B4;
}
.bottom{
  text-align: center;
  font-size: 12px;
  margin-top: 30px;
  padding-bottom: 20px;
}
@media only screen and (min-width:700px) and (max-width:1920px){
  .header-top .header-right1{
    display: none !important;
  }
  .form-content .form-info1{
    display: none;
  }
}
@media only screen and (min-width:300px) and (max-width:720px) {
  .header-top{
    padding: 13px 15px;
    box-sizing: border-box;
  }
	.header-top .header-img{
    width: 199px;
    height: 20px;
    margin: 0;
  }
  .header-top .tab{
    display: none !important;
  }
  .header-top .header-right{
    display: none !important;
  }
  .header-top .header-right1 img{
    width: 20px;
    height: 16px;
  }
  .form .label{
    top: 46px;
  }
  .form-content{
    padding: 100px 3% 0;
  }
  .form-content .form-info1{
    padding: 12px;
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    border-radius: 4px;
    width: 100%;
    height: 95%;
    box-sizing: border-box;
  }
  .form-content .form-title{
    margin-bottom: 15px;
  }
  .form-info{
    display: none;
  }
  .header-list{
    width: 100vw;
    height: 100vh;
    z-index: 100;
    background: #F5F5F5;
    position: fixed;
    padding: 60px 3% 0;
    box-sizing: border-box;
  }
  .header-list .list-item{
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 10px;
  }
  .list-item .header-one{
    height: 35px;
    line-height: 35px;
    background: #fff;
  }
  .list-item .header-two{
    margin-top: 10px;
    height: 35px;
    line-height: 35px;
    background: #0057B4;
    color: #fff;
  }
  .list-item .item-bottom{
    padding: 14px 15px;
    background: #fff;
  }
  .item-bottom img{
    width: 17px;
    height: 17px;
    display: inline-block;
    margin-top: 9px;
  }
  .item-bottom .header-three{
    height: 35px;
    line-height: 35px;
    display: flex;
    justify-content: space-between;
    color: #0057B4;
  }
  .item-bottom .header-four{
    height: 35px;
    line-height: 35px;
    text-align: left;
    background: #EAF4FE;
    padding: 0 20px;
    box-sizing: border-box;
    color: #333;
  }
  .item-bottom .header-five{
    display: flex;
    height: 35px;
    line-height: 35px;
    justify-content: space-between;
    color: #333;
  }
}