body{
  padding: 0;
  margin:0;
  font-size: 14px;
}
.page-index{
  width: 100%;
}
.page-index .header-top{
  background: #0057B4;
  box-shadow: 0px 3px 6px 0px rgba(0, 87, 180, 0.38);
  display: flex;
  color: #fff;
  justify-content: space-between;
  margin-bottom: 33px;
  z-index: 100;
  position: fixed;
  width: 100%;
}
.header-top .header-left{
  display: flex;
}
.header-left .header-img{
  width: 397px;
  height: 39px;
  margin: 11px 20px;
}
.header-top .header-left .tab{
  display: flex;
}
.header-left .tab div{
  line-height: 61px;
  padding: 0 20px;
}
.header-left .tab div:hover{
  cursor: pointer;
  background: #fff;
  color: #0057B4;
}
.header-top .header-right{
  display: flex;
  margin-right: 20px;
}
.header-right .avart{
  width: 30px;
  height: 30px;
  margin-top: 15px;
}
.header-right .userName{
  line-height: 61px;
  margin: 0 13px;
}
.header-right .down{
  width: 17px;
  height: 10px;
  margin-top: 25px;
}
.box-border{
  background: #FFFFFF;
  border: 1px solid #EEEEEE;
  border-radius: 4px;
}
.content{
  padding: 90px 3%;
  display: flex;
}
.content .title{
  display: flex;
  padding: 24px 0;
  font-weight: 600;
  line-height: 26px;
}
.content .title1{
  display: flex;
  padding: 18px 20px 18px 0;
  font-weight: 600;
  line-height: 26px;
  border-bottom: 1px solid #E5E5E5;
  display: flex;
  justify-content: space-between;
}
.title1 .title-left{
  display: flex;
}
.content .title1 .border{
  width: 4px;
  height: 25px;
  background: #1890FF;
  margin-right: 12px;
}
.content .title1 img{
  width: 22px;
  height: 4px;
  margin-top: 10px;
}
.content .title .border{
  width: 4px;
  height: 25px;
  background: #1890FF;
  margin-right: 12px;
}
.content .content-left{

}
.content-left .left-one{
  width: 296px;
  height: 296px;
  background: url('../assets/bg.png');
  background-size:cover;
  -moz-background-size:cover; /* 老版本的 Firefox */
  background-repeat:no-repeat;
  padding-top: 110px;
  box-sizing: border-box;
  position: relative;
  text-align: center;
}
.left-one .one-avart{
  display: block;
  width: 80px;
  height: 80px;
  position: absolute;
  top: 70px;
  left: 50%;
  transform: translate(-50%);
}
.left-one .one-bg{
  background: #fff;
  padding-top: 50px;
  box-sizing: border-box;
  width: 97.5%;
  margin: 0 auto;
}
.left-one .one-percent{
  font-size: 20px;
  color: #007BFF;
  margin-bottom: 10px;
}
.left-one .one-info{
  font-size: 12px;
  color: #666;
}
.left-one .one-button{
  display: flex;
  justify-content: center;
  width: 90%;
  height: 38px;
  line-height: 38px;
  margin: 16px auto;
  background: #007BFF;
  color: #fff;
}
.one-button img{
  width: 17px;
  height: 17px;
  margin-right: 10px;
  margin-top: 8px;
}
.left-two{
  width: 286px;
  margin-left: 5px;
  margin-top: 10px;
}
#chartDiv{
  border-top: 1px solid #E5E5E5;
  width: 286px;
  height: 300px;
}
.left-three{
  width: 286px;
  margin-left: 5px;
  margin-top: 10px;
  padding: 18px 16px 0;
  box-sizing: border-box;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
}
.left-three img{
  width: 28px;
  height: 28px;
}
.left-three .item{
  width: 33%;
  margin-bottom: 24px;
  position: relative;
}
.left-three .item span{
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #FF0000;
  color: #fff;
  font-size: 12px;
  right: 6px;
  top: -4px;
}
.left-three .item:hover div{
  color: #1890FF;
  cursor: pointer;
}
.left-three .item div{
  text-align: center;
  color: #666666;
}
.content-right{
  flex: 1;
  margin-left: 20px;
}
.content-right .right-one{
  height: 337px;
  
}
.right-two{
  margin-top: 18px;
  padding: 18px 50px 18px 42px;
  display: flex;
}
.right-two .two-left{
  font-weight: 600;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 60px;
}
.right-two .two-right {
  flex: 1;
}
.right-two .two-right .two-top{
  display: flex;
  justify-content: space-between;
}
.right-two .two-right .two-top div{
  display: flex;
}
.right-two .two-right .two-top img{
  width: 40px;
  height: 40px;
  margin-right: 10px;
}
.right-two .two-right .two-top span{
  line-height: 40px;
}
.content-right .right-three{
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.three-notice{
  width: 33.3%;
  margin-right: 20px;
}
.three-notice .notice-item{
  width: 100%;
  display: flex;
  font-size: 12px;
  padding: 14px 0 0 15px;
  box-sizing: border-box;
}
.three-notice .notice-item:hover{
  background: #DFF2FB;
  cursor: pointer;
}
.three-notice .notice-item:hover .notice-text{
  color: #007BFF;
}
.notice-item span{
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background: #007BFF;
  margin-right: 10px;
  margin-top: 4px;
}
.notice-item .notice-info{
  max-width: 85%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-bottom: 1px dashed #BFBFBF;
  padding-bottom: 10px;
}
.notice-info .notice-text{
  margin-bottom: 13px;
  color: #000;
}
.notice-info .notice-date{
  color: #666;
}
.three-file{
  width: 33.3%;
  margin-right: 20px;
}
.three-file .file-list{
  display: flex;
  justify-content: space-between;
  padding: 10px 16px 10px 16px;
  box-sizing: border-box;
  font-size: 12px;
  line-height: 30px;
}
.three-file .file-list:hover{
  background: #DFF2FB;
  cursor: pointer;
}
.file-list .file-left{
  display: flex;
}
.file-left img{
  width: 30px;
  height: 30px;
  margin-right: 1vw;
}
.file-left .file-name{
  color: #007AF2;
  margin-right: 10px;
}
.three-safe{
  width: 33.3%;
}
.three-safe .safe-list{
  display: flex;
  padding: 12px 18px;
  box-sizing: border-box;
  font-size: 12px;
}
.three-safe .safe-list:hover{
  background: #DFF2FB;
  cursor: pointer;
}
.safe-list img{
  width: 26px;
  height: 29px;
  margin-right: 10px;
  margin-top: 6px;
}
.safe-list div{
  flex: 1;
  line-height: 24px;
}
#line1{
  width: 100%;
  height: 250px;
}
#line{
  width: 100%;
  height: 250px;
}
.active{
  background: #fff;
  color: #0057B4;
}
.bottom{
  text-align: center;
  font-size: 12px;
  margin-top: 30px;
  padding-bottom: 20px;
}
.safe-label{
  position: relative;
}
.safe-label .down-list{
  background: #FFFFFF;
  box-shadow: 0px 3px 6px 0px rgba(0, 87, 180, 0.38);
  position: absolute;
  width: 240px;
  padding: 0 !important;
  left: 0;
}
.down-list .down-item{
  padding: 0 !important
}
.down-item img{
  width: 18px;
  height: 18px;
  margin-top: 11px;
}
.down-item .down-top{
  line-height: 40px !important;
  color: #666666;
  display: flex;
  justify-content: space-between;
  font-weight: 600;
}
.down-item .down-active{
  color: #0057B4;
}
.down-item .down-bottom{
  padding: 0 !important;
  text-align: center;
  color: #333333;
}
.down-item .down-bottom div{
  line-height: 40px !important;
  background: #EAF4FE;
}
.down-item .down-bottom div:hover{
  color: #fff;
  background: #0057B4;
}
@media only screen and (min-width:700px) and (max-width:1920px){
  .header-top .header-right1{
    display: none !important;
  }
  .content1{
    display: none !important;
  }
  .left-three .item span{
    right: 28px;
  }
}
@media only screen and (min-width:300px) and (max-width:720px) {
  .title{
    display: flex;
    padding: 12px 0;
    font-weight: 600;
    line-height: 12px;
    border-bottom: 0.5px solid #E5E5E5;
  }
  .title .border{
    width: 2px;
    height: 13px;
    background: #1890FF;
    margin-right: 12px;
  }
  .header-top{
    padding: 13px 15px;
    box-sizing: border-box;
  }
	.header-top .header-img{
    width: 199px;
    height: 20px;
    margin: 0;
  }
  .header-top .tab{
    display: none !important;
  }
  .header-top .header-right{
    display: none !important;
  }
  .header-top .header-right1 img{
    width: 20px;
    height: 16px;
  }
  .content{
    display: none !important;
  }
  .content1{
    padding: 63px 3% 0;
    box-sizing: border-box;
  }
  .content1 .left-one{
    /* width: 169px; */
    flex: 1;
    height: 184px;
    padding-top: 50px;
    border: 1px solid #EEEEEE;
    border-radius: 0px 0px 2px 2px;
  }
  .left-one .one-avart{
    width: 37px;
    height: 37px;
    top: 30px;
  }
  .left-one .one-bg{
    padding-top: 30px;
    width: 100%;
    margin: 0;
    height: 100%;
  }
  .left-one .one-percent{
    font-size: 15px;
    margin-bottom: 0;
  }
  .left-one .one-button{
    height: 35px;
    margin: 10px auto;
  }
  .left-two{
    flex: 1;
    margin: 0 0 0 10px;
  }
  #chartDiv1{
    height: 145px;
    /* width: 170px;
     */
     width: 100%;
  }
  .left-three{
    width: 100%;
    justify-content: space-between;
    font-size: 12px;
    margin-left: 0;
  }
  .left-three .item{
    width: auto;
    margin-bottom: 12px;
  }
  .content1 .content-right{
    margin-left: 0;
    margin-top: 10px;
  }
  .content-right .right-one{
    height: auto;
  }
  .right-two{
    padding: 0;
    display: block;
    font-size: 12px;
  }
  .right-two .two-right{
    padding: 20px 12px;
  }
  .right-two .two-right .two-top img{
    width: 36px;
    height: 36px;
    margin-right: 0;
  }
  .right-two .two-right .two-top div{
    display: block;
    text-align: center;
  }
  .right-two .two-right .two-top span{
    display: block;
    line-height: 20px;
  }
  .three-notice{
    width: 100%;
    margin-right: 0;
  }
  .notice-item .notice-info{
    max-width: 95%;
  }
  .notice-item span{
    width: 5px;
    height: 5px;
  }
  .notice-info .notice-text{
    margin-bottom: 8px;
  }
  .three-notice .notice-item{
    padding: 10px 0 0;
  }
  .three-file{
    width: 100%;
    margin-right: 0;
  }
  .three-file .file-list{
    padding: 10px 0;
  }
  .file-left img{
    width: 24px;
    height: 25px;
    margin-right: 10px;
  }
  .three-safe{
    width: 100%;
  }
  .safe-list img{
    width: 19px;
    height: 22px;
    margin-top: 15px;
  }
  .three-safe .safe-list{
    padding: 12px 0 0;
  }
  .right-three{
    position: relative;
  }
  .right-three .more{
    width: 16px;
    height: 4px;
    position: absolute;
    right: 15px;
    top: 18px;
  }
  .header-list{
    width: 100vw;
    height: 100vh;
    z-index: 100;
    background: #F5F5F5;
    position: fixed;
    padding: 60px 3% 0;
    box-sizing: border-box;
  }
  .header-list .list-item{
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 10px;
  }
  .list-item .header-one{
    height: 35px;
    line-height: 35px;
    background: #fff;
  }
  .list-item .header-two{
    margin-top: 10px;
    height: 35px;
    line-height: 35px;
    background: #0057B4;
    color: #fff;
  }
  .list-item .item-bottom{
    padding: 0 15px;
    background: #fff;
  }
  .item-bottom img{
    width: 17px;
    height: 17px;
    display: inline-block;
    margin-top: 9px;
  }
  .item-bottom .header-three{
    height: 35px;
    line-height: 35px;
    display: flex;
    justify-content: space-between;
    color: #666;
  }
  .item-bottom .header-four{
    height: 35px;
    line-height: 35px;
    text-align: left;
    background: #EAF4FE;
    padding: 0 20px;
    box-sizing: border-box;
    color: #333;
  }
  .item-bottom .header-five{
    display: flex;
    height: 35px;
    line-height: 35px;
    justify-content: space-between;
    color: #333;
  }
  .header-active{
    background: #0057B4 !important;
    color: #fff !important;
  }
  .header-active1{
    color: #0057B4 !important;
  }
}