<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://unpkg.com/element-ui@2.12.0/lib/theme-chalk/index.css">
  <link rel="stylesheet" href="./css/form.css">
  <script src="./js/jquery-1.11.3.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
  <script src="https://unpkg.com/element-ui@2.12.0/lib/index.js"></script>
  <title>煤炭科学技术研究院有限公司</title>
  <style>
    .el-form-item__label{
      font-size: 12px;
      font-weight: 600;
      color: #333;
    }
    .el-input__inner{
      height: 36px;
      line-height: 36px;
    }
    .el-form-item{
      margin-bottom: 10px;
    }
    .el-cascader{
      width: 100%;
    }
    .el-select{
      width: 100%;
    }
    .el-date-editor.el-input, .el-date-editor.el-input__inner{
      width: 100%;
    }
  </style>
</head>
<body>
  <div class='form' id="form">
    <div class="header-list" v-if="isPhone">
      <div class="list-item" v-for="(item, index) in hearderLits" :key="index">
        <div v-if="item.title == '主页'" class="header-one" @click="goIndex">{{item.title}}</div>
        <div v-else-if="item.title == '安全自控填报'" class="header-one" @click="goTable">{{item.title}}</div>
        <div v-else class="header-one" @click="item.show = !item.show" :class="item.show?'header-active':''">{{item.title}}</div>
        <div class="item-bottom" v-for="(temp, index1) in item.child" v-show="item.show">
          <div class='header-three' @click.stop="temp.show = !temp.show">
            <span :class="temp.show?'header-active1':''">{{temp.title}}</span>
            <img v-if="!temp.show" src="./assets/组 54 拷贝@2x.png" alt="">
            <img v-else src="./assets/组 54@2x.png" alt="">
          </div>
          <div v-show="temp.show">
            <div class="header-four" v-for="(item2, index) in temp.children" @click.stop="goTable">{{item2.title}} </div>
          </div>
        </div>
      </div>
    </div>
     <!-- 头部信息 -->
     <div class="header-top">
      <div class="header-left">
        <img class="header-img" src="./assets/形状 1@2x.png" alt="">
        <div class="tab">
          <div @click="goIndex" >主页</div>
          <div class="safe-label" @click="matterShow=!matterShow">
            <span>代办事宜</span>
            <div v-show="matterShow" class="down-list">
              <div class="down-item" v-for="(item, index) in list" :key="index">
                <div :class="item.show ? 'down-active down-top' : 'down-top'" @click.stop="item.show = !item.show">
                  <span>{{item.name}}</span>
                  <img v-if="!item.show"  src="./assets/组 54 拷贝@2x.png" alt="">
                  <img v-else src="./assets/组 54@2x.png" alt="">
                </div>
                <div class='down-bottom' v-if="item.show">
                  <div v-for="(temp, index1) in item.children" :key="index1">{{temp.label}}</div>
                </div>
              </div>
            </div>
          </div>
          <div class="active safe-label" @click="safeShow=!safeShow">
            <span>安全监控填报</span>
            <div v-show="safeShow" class="down-list">
              <div class="down-item" v-for="(item, index) in list" :key="index">
                <div :class="item.show ? 'down-active down-top' : 'down-top'" @click.stop="item.show = !item.show">
                  <span>{{item.name}}</span>
                  <img v-if="!item.show"  src="./assets/组 54 拷贝@2x.png" alt="">
                  <img v-else src="./assets/组 54@2x.png" alt="">
                </div>
                <div class='down-bottom' v-if="item.show">
                  <div v-for="(temp, index1) in item.children" :key="index1">{{temp.label}}</div>
                </div>
              </div>
            </div>
          </div>
          <div class="safe-label" @click="isShow=!isShow">
            <span>安全自控填报</span>
            <div v-show="isShow" class="down-list">
              <div class="down-item" v-for="(item, index) in list" :key="index">
                <div :class="item.show ? 'down-active down-top' : 'down-top'" @click.stop="item.show = !item.show">
                  <span>{{item.name}}</span>
                  <img v-if="!item.show"  src="./assets/组 54 拷贝@2x.png" alt="">
                  <img v-else src="./assets/组 54@2x.png" alt="">
                </div>
                <div class='down-bottom' v-if="item.show">
                  <div v-for="(temp, index1) in item.children" :key="index1">{{temp.label}}</div>
                </div>
              </div>
            </div>
          </div>
          <div class="safe-label" @click="planShow=!planShow">
            <span>同步计划</span>
            <div v-show="planShow" class="down-list">
              <div class="down-item" v-for="(item, index) in list" :key="index">
                <div :class="item.show ? 'down-active down-top' : 'down-top'" @click.stop="item.show = !item.show">
                  <span>{{item.name}}</span>
                  <img v-if="!item.show"  src="./assets/组 54 拷贝@2x.png" alt="">
                  <img v-else src="./assets/组 54@2x.png" alt="">
                </div>
                <div class='down-bottom' v-if="item.show">
                  <div v-for="(temp, index1) in item.children" :key="index1">{{temp.label}}</div>
                </div>
              </div>
            </div>
          </div>
          <div class="safe-label" @click="seetingShow=!seetingShow">
            <span>系统设置</span>
            <div v-show="seetingShow" class="down-list">
              <div class="down-item" v-for="(item, index) in list" :key="index">
                <div :class="item.show ? 'down-active down-top' : 'down-top'" @click.stop="item.show = !item.show">
                  <span>{{item.name}}</span>
                  <img v-if="!item.show"  src="./assets/组 54 拷贝@2x.png" alt="">
                  <img v-else src="./assets/组 54@2x.png" alt="">
                </div>
                <div class='down-bottom' v-if="item.show">
                  <div v-for="(temp, index1) in item.children" :key="index1">{{temp.label}}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="header-right">
        <img class="avart" src="./assets/男头像@2x.png" alt="">
        <div class="userName">000001</div>
        <img class="down" src="./assets/下拉@2x.png" alt="">
      </div>
      <div class='header-right1'>
        <img src="./assets/三横@2x.png" @click="isPhone = true" v-if="!isPhone" alt="">
        <img src="./assets/关闭@2x.png" style="width: 15px;height: 15px;" @click="isPhone = false" v-else alt="">
      </div>
    </div>
    <!-- 面包屑 -->
    <div class="label">
      <span  @click="goTable">当前位置: 资源埴报 / </span><span> 企业基本信息</span>
    </div>
    <div class="form-content">
      <div class='form-title'>企业基本信息</div>
      <div class="form-info">
        <el-form ref="ruleForm">
          <el-row :gutter="20">
            <el-col :span="12">
              <el-form-item  :rules="{required: true, message: '请输入企业编码'}" label="企业编码:"><el-input v-model="ruleForm.code" placeholder="请输入企业编码"></el-input></el-form-item>
            </el-col>
          </el-row>
          <el-row :gutter="20">
            <el-col :span="12">
              <el-form-item :rules="{required: true, message: '请输入企业名称'}" label="企业名称:"><el-input v-model="ruleForm.name" placeholder="请输入企业名称"></el-input></el-form-item>
            </el-col>
            <el-col :span="12">
              <el-form-item label="企业简称:"><el-input v-model="ruleForm.realName" placeholder="请输入企业简称"></el-input></el-form-item>
            </el-col>
          </el-row>
          <el-row :gutter="20">
            <el-col :span="12">
              <el-form-item :rules="{required: true, message: '请选择省市区'}" label="企业地址:">
                <el-cascader
                v-model="ruleForm.city"
                :options="options"
                placeholder="请选择省市区"
                @change="handleChange"></el-cascader>
              </el-form-item>
            </el-col>
            <el-col :span="12">
              <el-form-item label="详细地址:"><el-input v-model="ruleForm.address" placeholder="直写企业具体地址,如XX县xx接到xx号"></el-input></el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col>
              <el-form-item :rules="{required: true, message: '请输入请输入对应的公司*统一社会信用代码'}" label="统一社会信用代码:"><el-input v-model="ruleForm.credit" placeholder="请输入对应的公司*统一社会信用代码 "></el-input></el-form-item>
            </el-col>
          </el-row>
          <el-row :gutter="20">
            <el-col :span="12">
              <el-form-item :rules="{required: true, message: '请选择主营业务涉及行业'}" label="主营业务涉及行业 :">
                <el-select v-model="ruleForm.trade" placeholder="请选择">
                  <el-option
                    v-for="item in options1"
                    placeholder="请选择主营业务涉及行业 "
                    :key="item.value"
                    :label="item.label"
                    :value="item.value">
                  </el-option>
                </el-select>
              </el-form-item>
            </el-col>
            <el-col :span="12">
              <el-form-item :rules="{required: true, message: '请输入注册资本(万元)'}" label="注册资本(万元) :"><el-input v-model="ruleForm.fund" placeholder="请输入注册资本(万元) "></el-input></el-form-item>
            </el-col>
          </el-row>
          <el-row :gutter="20">
            <el-col :span="12">
              <el-form-item :rules="{required: true, message: '请输入法人代表'}" label="法人代表:"><el-input v-model="ruleForm.deputy" placeholder="请选择新人代表"></el-input></el-form-item>
            </el-col>
            <el-col :span="12">
              <el-form-item label="企业类型:">
                <el-select v-model="ruleForm.type" :rules="{required: true, message: '请选择企业类型'}" placeholder="请选择">
                  <el-option
                    placeholder="请选择企业类型"
                    v-for="item in options1"
                    :key="item.value"
                    :label="item.label"
                    :value="item.value">
                  </el-option>
                </el-select>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row :gutter="20">
            <el-col :span="12">
              <el-form-item label="成立日期:" :rules="{required: true, message: '选择日期'}">
                <el-date-picker
                  v-model="ruleForm.date"
                  type="date"
                  placeholder="选择日期">
                </el-date-picker>
              </el-form-item>
            </el-col>
            <el-col :span="12">
              <el-form-item label="核准日期:" :rules="{required: true, message: '选择日期'}">
                <el-date-picker
                  v-model="ruleForm.date1"
                  type="date"
                  placeholder="选择日期">
                </el-date-picker>
              </el-form-item>
            </el-col>
          </el-row>
        </el-form>
        <div style="margin-top: 20px"><el-button @click="submitForm" type="primary">保存</el-button><el-button>返回</el-button></div>
      </div>
      <div class="form-info1">
        <el-form ref="ruleForm">
          <el-form-item  :rules="{required: true, message: '请输入企业编码'}" label="企业编码:"><el-input v-model="ruleForm.code" placeholder="请输入企业编码"></el-input></el-form-item>
          <el-form-item :rules="{required: true, message: '请输入企业名称'}" label="企业名称:"><el-input v-model="ruleForm.name" placeholder="请输入企业名称"></el-input></el-form-item>
          <el-form-item label="企业简称:"><el-input v-model="ruleForm.realName" placeholder="请输入企业简称"></el-input></el-form-item>
          <el-form-item :rules="{required: true, message: '请选择省市区'}" label="企业地址:">
            <el-cascader
            v-model="ruleForm.city"
            :options="options"
            placeholder="请选择省市区"
            @change="handleChange"></el-cascader>
          </el-form-item>
          <el-form-item label="详细地址:"><el-input v-model="ruleForm.address" placeholder="直写企业具体地址,如XX县xx接到xx号"></el-input></el-form-item>
          <el-form-item :rules="{required: true, message: '请输入请输入对应的公司*统一社会信用代码'}" label="统一社会信用代码:"><el-input v-model="ruleForm.credit" placeholder="请输入对应的公司*统一社会信用代码 "></el-input></el-form-item>
          <el-form-item :rules="{required: true, message: '请选择主营业务涉及行业'}" label="主营业务涉及行业 :">
            <el-select v-model="ruleForm.trade" placeholder="请选择">
              <el-option
                v-for="item in options1"
                placeholder="请选择主营业务涉及行业 "
                :key="item.value"
                :label="item.label"
                :value="item.value">
              </el-option>
            </el-select>
          </el-form-item>
          <el-form-item :rules="{required: true, message: '请输入注册资本(万元)'}" label="注册资本(万元) :"><el-input v-model="ruleForm.fund" placeholder="请输入注册资本(万元) "></el-input></el-form-item>
          <el-form-item :rules="{required: true, message: '请输入法人代表'}" label="法人代表:"><el-input v-model="ruleForm.deputy" placeholder="请选择新人代表"></el-input></el-form-item>
          <el-form-item label="企业类型:">
            <el-select v-model="ruleForm.type" :rules="{required: true, message: '请选择企业类型'}" placeholder="请选择">
              <el-option
                placeholder="请选择企业类型"
                v-for="item in options1"
                :key="item.value"
                :label="item.label"
                :value="item.value">
              </el-option>
            </el-select>
          </el-form-item>
          <el-form-item label="成立日期:" :rules="{required: true, message: '选择日期'}">
            <el-date-picker
              v-model="ruleForm.date"
              type="date"
              placeholder="选择日期">
            </el-date-picker>
          </el-form-item>
          <el-form-item label="核准日期:" :rules="{required: true, message: '选择日期'}">
            <el-date-picker
              v-model="ruleForm.date1"
              type="date"
              placeholder="选择日期">
            </el-date-picker>
          </el-form-item>
        </el-form>
        <div style="margin-top: 20px"><el-button @click="submitForm" type="primary">保存</el-button><el-button>返回</el-button></div>
      </div>
    </div>
    <div class="bottom">Copyright © 2022煤炭科学技术研究院 沪ICP备10011451号-6</div>
  </div>
  
  <script type="text/javascript">
    new Vue({
      el: '#form',
      data: function() {
        return { 
          matterShow: false,
          planShow: false,
          seetingShow: false,
          safeShow: false,
          isShow: false,
          isPhone: false,
          list: [
            {
              name: '企业基本信息',
              show: false,
              children: [
                {
                  label: '企业基本信息维护'
                },
                {
                  label: '企业基本信息查询'
                }
              ]
            },
            {
              name: '安全风险业务',
              show: false,
              children: [
                {
                  label: '企业基本信息维护'
                },
                {
                  label: '企业基本信息查询'
                }
              ]
            },
            {
              name: '法律法规标准',
              show: false,
              children: [
                {
                  label: '企业基本信息维护'
                },
                {
                  label: '企业基本信息查询'
                }
              ]
            },
            {
              name: '安全目标',
              show: false,
              children: [
                {
                  label: '企业基本信息维护'
                },
                {
                  label: '企业基本信息查询'
                }
              ]
            },
            {
              name: '机构和80圭',
              show: false,
              children: [
                {
                  label: '企业基本信息维护'
                },
                {
                  label: '企业基本信息查询'
                }
              ]
            },
            {
              name: '制度体系',
              show: false,
              children: [
                {
                  label: '企业基本信息维护'
                },
                {
                  label: '企业基本信息查询'
                }
              ]
            },
            {
              name: '安全生产费用',
              show: false,
              children: [
                {
                  label: '企业基本信息维护'
                },
                {
                  label: '企业基本信息查询'
                }
              ]
            }
          ],
          ruleForm: {
            name: '',
            date1: '',
            date: '',
            deputy: '',
            fund: '',
            trade:'',
            credit:'',
            address:'',
            city:'',
            realName:'',
            code:''
          },
          options1: [{
          value: '选项1',
          label: '黄金糕'
        }, {
          value: '选项2',
          label: '双皮奶'
        }, {
          value: '选项3',
          label: '蚵仔煎'
        }, {
          value: '选项4',
          label: '龙须面'
        }, {
          value: '选项5',
          label: '北京烤鸭'
        }],
          options: [{
          value: 'zhinan',
          label: '指南',
          children: [{
            value: 'shejiyuanze',
            label: '设计原则',
            children: [{
              value: 'yizhi',
              label: '一致'
            }, {
              value: 'fankui',
              label: '反馈'
            }, {
              value: 'xiaolv',
              label: '效率'
            }, {
              value: 'kekong',
              label: '可控'
            }]
          }, {
            value: 'daohang',
            label: '导航',
            children: [{
              value: 'cexiangdaohang',
              label: '侧向导航'
            }, {
              value: 'dingbudaohang',
              label: '顶部导航'
            }]
          }]
        }, {
          value: 'zujian',
          label: '组件',
          children: [{
            value: 'basic',
            label: 'Basic',
            children: [{
              value: 'layout',
              label: 'Layout 布局'
            }, {
              value: 'color',
              label: 'Color 色彩'
            }, {
              value: 'typography',
              label: 'Typography 字体'
            }, {
              value: 'icon',
              label: 'Icon 图标'
            }, {
              value: 'button',
              label: 'Button 按钮'
            }]
          }, {
            value: 'form',
            label: 'Form',
            children: [{
              value: 'radio',
              label: 'Radio 单选框'
            }, {
              value: 'checkbox',
              label: 'Checkbox 多选框'
            }, {
              value: 'input',
              label: 'Input 输入框'
            }, {
              value: 'input-number',
              label: 'InputNumber 计数器'
            }, {
              value: 'select',
              label: 'Select 选择器'
            }, {
              value: 'cascader',
              label: 'Cascader 级联选择器'
            }, {
              value: 'switch',
              label: 'Switch 开关'
            }, {
              value: 'slider',
              label: 'Slider 滑块'
            }, {
              value: 'time-picker',
              label: 'TimePicker 时间选择器'
            }, {
              value: 'date-picker',
              label: 'DatePicker 日期选择器'
            }, {
              value: 'datetime-picker',
              label: 'DateTimePicker 日期时间选择器'
            }, {
              value: 'upload',
              label: 'Upload 上传'
            }, {
              value: 'rate',
              label: 'Rate 评分'
            }, {
              value: 'form',
              label: 'Form 表单'
            }]
          }, {
            value: 'data',
            label: 'Data',
            children: [{
              value: 'table',
              label: 'Table 表格'
            }, {
              value: 'tag',
              label: 'Tag 标签'
            }, {
              value: 'progress',
              label: 'Progress 进度条'
            }, {
              value: 'tree',
              label: 'Tree 树形控件'
            }, {
              value: 'pagination',
              label: 'Pagination 分页'
            }, {
              value: 'badge',
              label: 'Badge 标记'
            }]
          }, {
            value: 'notice',
            label: 'Notice',
            children: [{
              value: 'alert',
              label: 'Alert 警告'
            }, {
              value: 'loading',
              label: 'Loading 加载'
            }, {
              value: 'message',
              label: 'Message 消息提示'
            }, {
              value: 'message-box',
              label: 'MessageBox 弹框'
            }, {
              value: 'notification',
              label: 'Notification 通知'
            }]
          }, {
            value: 'navigation',
            label: 'Navigation',
            children: [{
              value: 'menu',
              label: 'NavMenu 导航菜单'
            }, {
              value: 'tabs',
              label: 'Tabs 标签页'
            }, {
              value: 'breadcrumb',
              label: 'Breadcrumb 面包屑'
            }, {
              value: 'dropdown',
              label: 'Dropdown 下拉菜单'
            }, {
              value: 'steps',
              label: 'Steps 步骤条'
            }]
          }, {
            value: 'others',
            label: 'Others',
            children: [{
              value: 'dialog',
              label: 'Dialog 对话框'
            }, {
              value: 'tooltip',
              label: 'Tooltip 文字提示'
            }, {
              value: 'popover',
              label: 'Popover 弹出框'
            }, {
              value: 'card',
              label: 'Card 卡片'
            }, {
              value: 'carousel',
              label: 'Carousel 走马灯'
            }, {
              value: 'collapse',
              label: 'Collapse 折叠面板'
            }]
          }]
        }, {
          value: 'ziyuan',
          label: '资源',
          children: [{
            value: 'axure',
            label: 'Axure Components'
          }, {
            value: 'sketch',
            label: 'Sketch Templates'
          }, {
            value: 'jiaohu',
            label: '组件交互文档'
          }]
        }],
        hearderLits: [
            {
              title: '主页',
              show: false,
              child:[
                {
                  title: '企业基本信息',
                  show: false,
                  children: [
                    {
                      title: '企业基本信息维护'
                    },
                    {
                      title: '企业基本信息查询'
                    }
                  ]
                },
                {
                  title: '法律法规标准',
                  show: false,
                },
                {
                  title: '安全目标',
                  show: false,
                },
                {
                  title: '机构和80圭',
                  show: false,
                },
                {
                  title: '制度体系',
                  show: false,
                }
              ]
            },
            {
              title: '代办事宜',
              show: false,
              child:[
                {
                  title: '企业基本信息',
                  show: false,
                  children: [
                    {
                      title: '企业基本信息维护'
                    },
                    {
                      title: '企业基本信息查询'
                    }
                  ]
                },
                {
                  title: '法律法规标准',
                  show: false,
                },
                {
                  title: '安全目标',
                  show: false,
                },
                {
                  title: '机构和80圭',
                  show: false,
                },
                {
                  title: '制度体系',
                  show: false,
                }
              ]
            },
            {
              title: '安全自控填报',
              show: false,
              child:[
                {
                  title: '企业基本信息',
                  show: false,
                  children: [
                    {
                      title: '企业基本信息维护'
                    },
                    {
                      title: '企业基本信息查询'
                    }
                  ]
                },
                {
                  title: '法律法规标准',
                  show: false,
                },
                {
                  title: '安全目标',
                  show: false,
                },
                {
                  title: '机构和80圭',
                  show: false,
                },
                {
                  title: '制度体系',
                  show: false,
                }
              ]
            },
            {
              title: '安全监控填报',
              show: false,
              child:[
                {
                  title: '企业基本信息',
                  show: false,
                  children: [
                    {
                      title: '企业基本信息维护'
                    },
                    {
                      title: '企业基本信息查询'
                    }
                  ]
                },
                {
                  title: '法律法规标准',
                  show: false,
                },
                {
                  title: '安全目标',
                  show: false,
                },
                {
                  title: '机构和80圭',
                  show: false,
                },
                {
                  title: '制度体系',
                  show: false,
                }
              ]
            },
            {
              title: '同步计划',
              show: false,
              child:[
                {
                  title: '企业基本信息',
                  show: false,
                  children: [
                    {
                      title: '企业基本信息维护'
                    },
                    {
                      title: '企业基本信息查询'
                    }
                  ]
                },
                {
                  title: '法律法规标准',
                  show: false,
                },
                {
                  title: '安全目标',
                  show: false,
                },
                {
                  title: '机构和80圭',
                  show: false,
                },
                {
                  title: '制度体系',
                  show: false,
                }
              ]
            },
            {
              title: '系统设置',
              show: false,
              child:[
                {
                  title: '企业基本信息',
                  show: false,
                  children: [
                    {
                      title: '企业基本信息维护'
                    },
                    {
                      title: '企业基本信息查询'
                    }
                  ]
                },
                {
                  title: '法律法规标准',
                  show: false,
                },
                {
                  title: '安全目标',
                  show: false,
                },
                {
                  title: '机构和80圭',
                  show: false,
                },
                {
                  title: '制度体系',
                  show: false,
                }
              ]
            }
          ],
        }
      },
      methods: {
        goIndex: function() {
          window.location.href = './index.html'
        },
        goTable: function() {
          window.location.href = './detail.html'
        },
        handleChange: function(val) {
          console.log(val)
        },
        submitForm: function() {
          if (!this.ruleForm.type) {
            this.$message.error('请输入必填项')
            return
          }
          if (!this.ruleForm.deputy) {
            this.$message.error('请输入必填项')
            return
          }
          if (!this.ruleForm.fund) {
            this.$message.error('请输入必填项')
            return
          }
          if (!this.ruleForm.trade) {
            this.$message.error('请输入必填项')
            return
          }
          if (!this.ruleForm.credit) {
            this.$message.error('请输入必填项')
            return
          }
          if (!this.ruleForm.address) {
            this.$message.error('请输入必填项')
            return
          }
          if (!this.ruleForm.city) {
            this.$message.error('请输入必填项')
            return
          }
          if (!this.ruleForm.realName) {
            this.$message.error('请输入必填项')
            return
          }
          if (!this.ruleForm.code) {
            this.$message.error('请输入必填项')
            return
          }
          if (!this.ruleForm.name) {
            this.$message.error('请输入必填项')
            return
          }
          if (!this.ruleForm.date) {
            this.$message.error('请输入必填项')
            return
          }
          if (!this.ruleForm.date1) {
            this.$message.error('请输入必填项')
            return
          }
        }
      }
    })
  </script>
</body>
</html>