<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://unpkg.com/element-ui@2.12.0/lib/theme-chalk/index.css">
  <link rel="stylesheet" href="./css/index.css">
  <script src="./js/jquery-1.11.3.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
  <script src="https://unpkg.com/element-ui@2.12.0/lib/index.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/echarts@4.9.0/dist/echarts.min.js"></script>
  <title>煤炭科学技术研究院有限公司</title>
  <style>
    .el-tabs__nav-wrap::after{
      height: 1px;
    }
    .el-tabs__item{
      font-size: 12px;
    }
    .el-tabs__header{
      margin-bottom: 0;
    }
  </style>
</head>
<body>
  <div class="page-index" id="content">
    <div class="header-list" v-if="isPhone">
      <div class="list-item" v-for="(item, index) in hearderLits" :key="index">
        <div v-if="item.title == '主页'" class="header-one">{{item.title}}</div>
        <div v-else-if="item.title == '安全自控填报'" class="header-one" @click="goForm">{{item.title}}</div>
        <div v-else class="header-one" @click="item.show = !item.show" :class="item.show?'header-active':''">{{item.title}}</div>
        <div class="item-bottom" v-for="(temp, index1) in item.child" v-show="item.show">
          <div class='header-three' @click.stop="temp.show = !temp.show">
            <span :class="temp.show?'header-active1':''">{{temp.title}}</span>
            <img v-if="!temp.show" src="./assets/组 54 拷贝@2x.png" alt="">
            <img v-else src="./assets/组 54@2x.png" alt="">
          </div>
          <div v-show="temp.show">
            <div class="header-four" v-for="(item2, index) in temp.children" @click.stop="goForm">{{item2.title}} </div>
          </div>
        </div>
      </div>
    </div>
    <!-- 头部信息 -->
    <div class="header-top">
      <div class="header-left">
        <img class="header-img" src="./assets/形状 1@2x.png" alt="">
        <div class="tab">
          <div class="active">主页</div>
          <div class="safe-label" @click="matterShow=!matterShow">
            <span>代办事宜</span>
            <div v-show="matterShow" class="down-list">
              <div class="down-item" v-for="(item, index) in list" :key="index">
                <div :class="item.show ? 'down-active down-top' : 'down-top'" @click.stop="item.show = !item.show">
                  <span>{{item.name}}</span>
                  <img v-if="!item.show"  src="./assets/组 54 拷贝@2x.png" alt="">
                  <img v-else src="./assets/组 54@2x.png" alt="">
                </div>
                <div class='down-bottom' v-if="item.show">
                  <div v-for="(temp, index1) in item.children" :key="index1">{{temp.label}}</div>
                </div>
              </div>
            </div>
          </div>
          <div class="safe-label" @click="goForm">
            <span>安全监控填报</span>
            <div v-show="safeShow" class="down-list">
              <div class="down-item" v-for="(item, index) in list" :key="index">
                <div :class="item.show ? 'down-active down-top' : 'down-top'" @click.stop="item.show = !item.show">
                  <span>{{item.name}}</span>
                  <img v-if="!item.show"  src="./assets/组 54 拷贝@2x.png" alt="">
                  <img v-else src="./assets/组 54@2x.png" alt="">
                </div>
                <div class='down-bottom' v-if="item.show">
                  <div v-for="(temp, index1) in item.children" :key="index1">{{temp.label}}</div>
                </div>
              </div>
            </div>
          </div>
          <div class="safe-label" @click="isShow=!isShow">
            <span>安全自控填报</span>
            <div v-show="isShow" class="down-list">
              <div class="down-item" v-for="(item, index) in list" :key="index">
                <div :class="item.show ? 'down-active down-top' : 'down-top'" @click.stop="item.show = !item.show">
                  <span>{{item.name}}</span>
                  <img v-if="!item.show"  src="./assets/组 54 拷贝@2x.png" alt="">
                  <img v-else src="./assets/组 54@2x.png" alt="">
                </div>
                <div class='down-bottom' v-if="item.show">
                  <div v-for="(temp, index1) in item.children" :key="index1">{{temp.label}}</div>
                </div>
              </div>
            </div>
          </div>
          <div class="safe-label" @click="planShow=!planShow">
            <span>同步计划</span>
            <div v-show="planShow" class="down-list">
              <div class="down-item" v-for="(item, index) in list" :key="index">
                <div :class="item.show ? 'down-active down-top' : 'down-top'" @click.stop="item.show = !item.show">
                  <span>{{item.name}}</span>
                  <img v-if="!item.show"  src="./assets/组 54 拷贝@2x.png" alt="">
                  <img v-else src="./assets/组 54@2x.png" alt="">
                </div>
                <div class='down-bottom' v-if="item.show">
                  <div v-for="(temp, index1) in item.children" :key="index1">{{temp.label}}</div>
                </div>
              </div>
            </div>
          </div>
          <div class="safe-label" @click="seetingShow=!seetingShow">
            <span>系统设置</span>
            <div v-show="seetingShow" class="down-list">
              <div class="down-item" v-for="(item, index) in list" :key="index">
                <div :class="item.show ? 'down-active down-top' : 'down-top'" @click.stop="item.show = !item.show">
                  <span>{{item.name}}</span>
                  <img v-if="!item.show"  src="./assets/组 54 拷贝@2x.png" alt="">
                  <img v-else src="./assets/组 54@2x.png" alt="">
                </div>
                <div class='down-bottom' v-if="item.show">
                  <div v-for="(temp, index1) in item.children" :key="index1">{{temp.label}}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="header-right">
        <img class="avart" src="./assets/男头像@2x.png" alt="">
        <div class="userName">000001</div>
        <img class="down" src="./assets/下拉@2x.png" alt="">
      </div>
      <div class='header-right1'>
        <img src="./assets/三横@2x.png" @click="isPhone = true" v-if="!isPhone" alt="">
        <img src="./assets/关闭@2x.png" style="width: 15px;height: 15px;" @click="isPhone = false" v-else alt="">
      </div>
      
    </div>
    <!-- 底部 -->
    <div class="content1">
      <div class="content-left">
        <div style="display: flex;">
          <div class="left-one">
            <div class="one-bg">
              <img class="one-avart" src="./assets/男头像@2x (1).png" alt="">
              <div class="one-percent">98%</div>
              <div class="one-info">企业基本信息完整度</div>
              <div class="one-button"><img src="./assets/修改@2x.png" alt=""><span>去完善</span></div>
            </div>
          </div>
          <div class='left-two box-border'>
            <div class="title"><span class="border"></span><span>安全事故占比</span></div>
            <div id="chartDiv1"></div>
          </div>
        </div>
        <div class="left-three box-border">
          <div class="item"><img src="./assets/退回入库@2x.png" alt=""><div>被退回</div></div>
          <div class="item"><img src="./assets/审核 (1)@2x.png" alt=""><div>待审核</div><span>2</span></div>
          <div class="item"><img src="./assets/异常@2x.png" alt=""><div>系统异常</div></div>
          <div class="item"><img src="./assets/异常 (1)@2x.png" alt=""><div>临近超期</div></div>
          <div class="item"><img src="./assets/超期提醒@2x.png" alt=""><div>已经超期</div></div>
        </div>
      </div>
      <div class="content-right">
        <div class="right-one box-border">
          <div class="title"><span class="border"></span><span>安全任务年度统计</span></div>
          <div id='line'></div>
        </div>
        <div class="right-two box-border">
          <div class="title"><span class="border"></span><span>常用功能</span></div>
          <div class="two-right">
            <div class="two-top">
              <div><img src="./assets/用户组织@2x.png" alt=""><span>基本信息</span></div>
              <div><img src="./assets/待办事项@2x.png" alt=""><span>待办事宜</span></div>
              <div><img src="./assets/矢量智能对象@2x.png" alt=""><span>费用信息</span></div>
              <div><img src="./assets/矢量智能对象@2x (1).png" alt=""><span>安全考核</span></div>
              <div><img src="./assets/矢量智能对象@2x (2).png" alt=""><span>标准填报</span></div>
              <div><img src="./assets/通知 (2)@2x.png" alt=""><span>信息通知</span></div>
            </div>
            <div class="two-top" style="margin-top: 14px;">
              <div><img src="./assets/通知 (2)@2x.png" alt=""><span>基本信息</span></div>
              <div><img src="./assets/用户组织@2x.png" alt=""><span>待办事宜</span></div>
              <div><img src="./assets/矢量智能对象@2x (1).png" alt=""><span>费用信息</span></div>
              <div><img src="./assets/矢量智能对象@2x (2).png" alt=""><span>安全考核</span></div>
              <div><img src="./assets/待办事项@2x.png" alt=""><span>标准填报</span></div>
              <div><img src="./assets/矢量智能对象@2x.png" alt=""><span>信息通知</span></div>
            </div>
          </div>
        </div>
        <div class="right-three box-border">
          <img class="more" src="./assets/更多@2x.png" alt="">
          <el-tabs style="width: 100%;padding: 0 10px;box-sizing:border-box" v-model="activeName" @tab-click="handleClick">
            <el-tab-pane label="最新待办通知" name="first">
              <div class="three-notice">
                <div class="notice-item">
                  <span></span>
                  <div class="notice-info">
                    <div class="notice-text">待办事情待办事情待办事情待办事情待办事情待待办事情待办待办事情待办事情待办事情待办事情待办事情待待办事情待办</div>
                    <div class="notice-date">2015-07-07</div>
                  </div>
                </div>
                <div class="notice-item">
                  <span></span>
                  <div class="notice-info">
                    <div class="notice-text">待办事情待办事情待办事情待办事情待办事情待待办事情待办待办事情待办事情待办事情待办事情待办事情待待办事情待办</div>
                    <div class="notice-date">2015-07-07</div>
                  </div>
                </div>
                <div class="notice-item">
                  <span></span>
                  <div class="notice-info">
                    <div class="notice-text">待办事情待办事情待办事情待办事情待办事情待待办事情待办待办事情待办事情待办事情待办事情待办事情待待办事情待办</div>
                    <div class="notice-date">2015-07-07</div>
                  </div>
                </div>
                <div class="notice-item">
                  <span></span>
                  <div class="notice-info">
                    <div class="notice-text">待办事情待办事情待办事情待办事情待办事情待待办事情待办待办事情待办事情待办事情待办事情待办事情待待办事情待办</div>
                    <div class="notice-date">2015-07-07</div>
                  </div>
                </div>
              </div>
            </el-tab-pane>
            <el-tab-pane label="重要文件" name="second">
              <div class="three-file">
                <div class="file-list">
                  <div class="file-left"><img src="./assets/pdf 拷贝@2x.png" alt=""><span class="file-name">文件文件名称</span><span>FDF</span></div>
                  <div class="file-time">2017-07-01 10:05:03</div>
                </div>
                <div class="file-list">
                  <div class="file-left"><img src="./assets/pdf 拷贝@2x.png" alt=""><span class="file-name">文件文件名称</span><span>FDF</span></div>
                  <div class="file-time">2017-07-01 10:05:03</div>
                </div>
                <div class="file-list">
                  <div class="file-left"><img src="./assets/pdf 拷贝@2x.png" alt=""><span class="file-name">文件文件名称</span><span>FDF</span></div>
                  <div class="file-time">2017-07-01 10:05:03</div>
                </div>
                <div class="file-list">
                  <div class="file-left"><img src="./assets/pdf 拷贝@2x.png" alt=""><span class="file-name">文件文件名称</span><span>FDF</span></div>
                  <div class="file-time">2017-07-01 10:05:03</div>
                </div>
                <div class="file-list">
                  <div class="file-left"><img src="./assets/pdf 拷贝@2x.png" alt=""><span class="file-name">文件文件名称</span><span>FDF</span></div>
                  <div class="file-time">2017-07-01 10:05:03</div>
                </div>
                <div class="file-list">
                  <div class="file-left"><img src="./assets/pdf 拷贝@2x.png" alt=""><span class="file-name">文件文件名称</span><span>FDF</span></div>
                  <div class="file-time">2017-07-01 10:05:03</div>
                </div>
              </div>
            </el-tab-pane>
            <el-tab-pane label="安全防患事项" name="third">
              <div class='three-safe'>
                <div class="safe-list">
                  <img src="./assets/文件夹@2x.png" alt="">
                  <div>1.注意事项	注意事项注意事项注意事项注意事项注意事项注意事项注意事项注意事项注意事项</div>
                </div>
                <div class="safe-list">
                  <img src="./assets/文件夹@2x.png" alt="">
                  <div>1.注意事项	注意事项注意事项注意事项注意事项注意事项注意事项注意事项注意事项注意事项</div>
                </div>
                <div class="safe-list">
                  <img src="./assets/文件夹@2x.png" alt="">
                  <div>1.注意事项	注意事项注意事项注意事项注意事项注意事项注意事项注意事项注意事项注意事项</div>
                </div>
                <div class="safe-list">
                  <img src="./assets/文件夹@2x.png" alt="">
                  <div>1.注意事项	注意事项注意事项注意事项注意事项注意事项注意事项注意事项注意事项注意事项</div>
                </div>
              </div>
            </el-tab-pane>
          </el-tabs>
        </div>
      </div>
    </div>
    <div class="content">
      <div class="content-left">
        <div class="left-one">
          <div class="one-bg">
            <img class="one-avart" src="./assets/男头像@2x (1).png" alt="">
            <div class="one-percent">98%</div>
            <div class="one-info">企业基本信息完整度</div>
            <div class="one-button"><img src="./assets/修改@2x.png" alt=""><span>去完善</span></div>
          </div>
        </div>
        <div class='left-two box-border'>
          <div class="title"><span class="border"></span><span>安全事故占比</span></div>
          <div id="chartDiv"></div>
        </div>
        <div class="left-three box-border">
          <div class="item"><img src="./assets/退回入库@2x.png" alt=""><div>被退回</div></div>
          <div class="item"><img src="./assets/审核 (1)@2x.png" alt=""><div>待审核</div><span>2</span></div>
          <div class="item"><img src="./assets/异常@2x.png" alt=""><div>系统异常</div></div>
          <div class="item" style="margin-bottom: 18px;"><img src="./assets/异常 (1)@2x.png" alt=""><div>临近超期</div></div>
          <div class="item" style="margin-bottom: 18px;"><img src="./assets/超期提醒@2x.png" alt=""><div>已经超期</div></div>
        </div>
      </div>
      <div class="content-right">
        <div class="right-one box-border">
          <div class="title"><span class="border"></span><span>安全任务年度统计</span></div>
          <div id='line1'></div>
        </div>
        <div class="right-two box-border">
          <div class="two-left">常用功能</div>
          <div class="two-right">
            <div class="two-top">
              <div><img src="./assets/用户组织@2x.png" alt=""><span>基本信息</span></div>
              <div><img src="./assets/待办事项@2x.png" alt=""><span>待办事宜</span></div>
              <div><img src="./assets/矢量智能对象@2x.png" alt=""><span>费用信息</span></div>
              <div><img src="./assets/矢量智能对象@2x (1).png" alt=""><span>安全考核</span></div>
              <div><img src="./assets/矢量智能对象@2x (2).png" alt=""><span>标准填报</span></div>
              <div><img src="./assets/通知 (2)@2x.png" alt=""><span>信息通知</span></div>
            </div>
            <div class="two-top" style="margin-top: 14px;">
              <div><img src="./assets/通知 (2)@2x.png" alt=""><span>基本信息</span></div>
              <div><img src="./assets/用户组织@2x.png" alt=""><span>待办事宜</span></div>
              <div><img src="./assets/矢量智能对象@2x (1).png" alt=""><span>费用信息</span></div>
              <div><img src="./assets/矢量智能对象@2x (2).png" alt=""><span>安全考核</span></div>
              <div><img src="./assets/待办事项@2x.png" alt=""><span>标准填报</span></div>
              <div><img src="./assets/矢量智能对象@2x.png" alt=""><span>信息通知</span></div>
            </div>
          </div>
        </div>
        <div class="right-three">
          <div class="three-notice box-border">
            <div class="title1"><div class="title-left"><span class="border"></span><span>最新待办通知</span></div><img src="./assets/更多@2x.png" alt=""></div>
            <div class="notice-item">
              <span></span>
              <div class="notice-info">
                <div class="notice-text">待办事情待办事情待办事情待办事情待办事情待待办事情待办待办事情待办事情待办事情待办事情待办事情待待办事情待办</div>
                <div class="notice-date">2015-07-07</div>
              </div>
            </div>
            <div class="notice-item">
              <span></span>
              <div class="notice-info">
                <div class="notice-text">待办事情待办事情待办事情待办事情待办事情待待办事情待办待办事情待办事情待办事情待办事情待办事情待待办事情待办</div>
                <div class="notice-date">2015-07-07</div>
              </div>
            </div>
            <div class="notice-item">
              <span></span>
              <div class="notice-info">
                <div class="notice-text">待办事情待办事情待办事情待办事情待办事情待待办事情待办待办事情待办事情待办事情待办事情待办事情待待办事情待办</div>
                <div class="notice-date">2015-07-07</div>
              </div>
            </div>
            <div class="notice-item">
              <span></span>
              <div class="notice-info">
                <div class="notice-text">待办事情待办事情待办事情待办事情待办事情待待办事情待办待办事情待办事情待办事情待办事情待办事情待待办事情待办</div>
                <div class="notice-date">2015-07-07</div>
              </div>
            </div>
          </div>
          <div class="three-file box-border">
            <div class="title1"><div class="title-left"><span class="border"></span><span>重要文件</span></div><img src="./assets/更多@2x.png" alt=""></div>
            <div class="file-list">
              <div class="file-left"><img src="./assets/pdf 拷贝@2x.png" alt=""><span class="file-name">文件文件名称</span><span>FDF</span></div>
              <div class="file-time">2017-07-01 10:05:03</div>
            </div>
            <div class="file-list">
              <div class="file-left"><img src="./assets/pdf 拷贝@2x.png" alt=""><span class="file-name">文件文件名称</span><span>FDF</span></div>
              <div class="file-time">2017-07-01 10:05:03</div>
            </div>
            <div class="file-list">
              <div class="file-left"><img src="./assets/pdf 拷贝@2x.png" alt=""><span class="file-name">文件文件名称</span><span>FDF</span></div>
              <div class="file-time">2017-07-01 10:05:03</div>
            </div>
            <div class="file-list">
              <div class="file-left"><img src="./assets/pdf 拷贝@2x.png" alt=""><span class="file-name">文件文件名称</span><span>FDF</span></div>
              <div class="file-time">2017-07-01 10:05:03</div>
            </div>
            <div class="file-list">
              <div class="file-left"><img src="./assets/pdf 拷贝@2x.png" alt=""><span class="file-name">文件文件名称</span><span>FDF</span></div>
              <div class="file-time">2017-07-01 10:05:03</div>
            </div>
            <div class="file-list">
              <div class="file-left"><img src="./assets/pdf 拷贝@2x.png" alt=""><span class="file-name">文件文件名称</span><span>FDF</span></div>
              <div class="file-time">2017-07-01 10:05:03</div>
            </div>
          </div>
          <div class='three-safe box-border'>
            <div class="title1"><div class="title-left"><span class="border"></span><span>安全防患事项</span></div><img src="./assets/更多@2x.png" alt=""></div>
            <div class="safe-list">
              <img src="./assets/文件夹@2x.png" alt="">
              <div>1.注意事项	注意事项注意事项注意事项注意事项注意事项注意事项注意事项注意事项注意事项</div>
            </div>
            <div class="safe-list">
              <img src="./assets/文件夹@2x.png" alt="">
              <div>1.注意事项	注意事项注意事项注意事项注意事项注意事项注意事项注意事项注意事项注意事项</div>
            </div>
            <div class="safe-list">
              <img src="./assets/文件夹@2x.png" alt="">
              <div>1.注意事项	注意事项注意事项注意事项注意事项注意事项注意事项注意事项注意事项注意事项</div>
            </div>
            <div class="safe-list">
              <img src="./assets/文件夹@2x.png" alt="">
              <div>1.注意事项	注意事项注意事项注意事项注意事项注意事项注意事项注意事项注意事项注意事项</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="bottom">Copyright © 2022煤炭科学技术研究院 沪ICP备10011451号-6</div>
  </div>
  
  <script type="text/javascript">
   new Vue({
      el: '#content',
      data: function() {
        return { 
          activeName: 'first',
          isPhone: false,
          matterShow: false,
          planShow: false,
          seetingShow: false,
          safeShow: false,
          isShow: false,
          hearderLits: [
            {
              title: '主页',
              show: false,
              child:[
                {
                  title: '企业基本信息',
                  show: false,
                  children: [
                    {
                      title: '企业基本信息维护'
                    },
                    {
                      title: '企业基本信息查询'
                    }
                  ]
                },
                {
                  title: '法律法规标准',
                  show: false,
                },
                {
                  title: '安全目标',
                  show: false,
                },
                {
                  title: '机构和80圭',
                  show: false,
                },
                {
                  title: '制度体系',
                  show: false,
                }
              ]
            },
            {
              title: '代办事宜',
              show: false,
              child:[
                {
                  title: '企业基本信息',
                  show: false,
                  children: [
                    {
                      title: '企业基本信息维护'
                    },
                    {
                      title: '企业基本信息查询'
                    }
                  ]
                },
                {
                  title: '法律法规标准',
                  show: false,
                },
                {
                  title: '安全目标',
                  show: false,
                },
                {
                  title: '机构和80圭',
                  show: false,
                },
                {
                  title: '制度体系',
                  show: false,
                }
              ]
            },
            {
              title: '安全自控填报',
              show: false,
              child:[
                {
                  title: '企业基本信息',
                  show: false,
                  children: [
                    {
                      title: '企业基本信息维护'
                    },
                    {
                      title: '企业基本信息查询'
                    }
                  ]
                },
                {
                  title: '法律法规标准',
                  show: false,
                },
                {
                  title: '安全目标',
                  show: false,
                },
                {
                  title: '机构和80圭',
                  show: false,
                },
                {
                  title: '制度体系',
                  show: false,
                }
              ]
            },
            {
              title: '安全监控填报',
              show: false,
              child:[
                {
                  title: '企业基本信息',
                  show: false,
                  children: [
                    {
                      title: '企业基本信息维护'
                    },
                    {
                      title: '企业基本信息查询'
                    }
                  ]
                },
                {
                  title: '法律法规标准',
                  show: false,
                },
                {
                  title: '安全目标',
                  show: false,
                },
                {
                  title: '机构和80圭',
                  show: false,
                },
                {
                  title: '制度体系',
                  show: false,
                }
              ]
            },
            {
              title: '同步计划',
              show: false,
              child:[
                {
                  title: '企业基本信息',
                  show: false,
                  children: [
                    {
                      title: '企业基本信息维护'
                    },
                    {
                      title: '企业基本信息查询'
                    }
                  ]
                },
                {
                  title: '法律法规标准',
                  show: false,
                },
                {
                  title: '安全目标',
                  show: false,
                },
                {
                  title: '机构和80圭',
                  show: false,
                },
                {
                  title: '制度体系',
                  show: false,
                }
              ]
            },
            {
              title: '系统设置',
              show: false,
              child:[
                {
                  title: '企业基本信息',
                  show: false,
                  children: [
                    {
                      title: '企业基本信息维护'
                    },
                    {
                      title: '企业基本信息查询'
                    }
                  ]
                },
                {
                  title: '法律法规标准',
                  show: false,
                },
                {
                  title: '安全目标',
                  show: false,
                },
                {
                  title: '机构和80圭',
                  show: false,
                },
                {
                  title: '制度体系',
                  show: false,
                }
              ]
            }
          ],
          list: [
            {
              name: '企业基本信息',
              show: false,
              children: [
                {
                  label: '企业基本信息维护'
                },
                {
                  label: '企业基本信息查询'
                }
              ]
            },
            {
              name: '安全风险业务',
              show: false,
              children: [
                {
                  label: '企业基本信息维护'
                },
                {
                  label: '企业基本信息查询'
                }
              ]
            },
            {
              name: '法律法规标准',
              show: false,
              children: [
                {
                  label: '企业基本信息维护'
                },
                {
                  label: '企业基本信息查询'
                }
              ]
            },
            {
              name: '安全目标',
              show: false,
              children: [
                {
                  label: '企业基本信息维护'
                },
                {
                  label: '企业基本信息查询'
                }
              ]
            },
            {
              name: '机构和80圭',
              show: false,
              children: [
                {
                  label: '企业基本信息维护'
                },
                {
                  label: '企业基本信息查询'
                }
              ]
            },
            {
              name: '制度体系',
              show: false,
              children: [
                {
                  label: '企业基本信息维护'
                },
                {
                  label: '企业基本信息查询'
                }
              ]
            },
            {
              name: '安全生产费用',
              show: false,
              children: [
                {
                  label: '企业基本信息维护'
                },
                {
                  label: '企业基本信息查询'
                }
              ]
            }
          ],
        }
      },
      methods: {
        goForm: function() {
          window.location.href="./detail.html"
        },
        handleClick: function() {

        }
      }
    })
    var myChart = echarts.init(document.getElementById('chartDiv'))
    var myChartF = echarts.init(document.getElementById('chartDiv1'))
    var myChart1 = echarts.init(document.getElementById('line'))
    var myChart2 = echarts.init(document.getElementById('line1'))
    // 指定图表的配置项和数据
    let option = {
      tooltip: {
        trigger: 'item',
        formatter: '{a} <br/>{b} : {c} ({d}%)'
      },
      legend: {
        left: 'center',
        bottom: 10,
        data: ['事故一', '事故二', '事故三'],
        itemWidth: 8,
        itemHeight: 8
      },
      series: [
        {
              name: '半径模式',
              type: 'pie',
              radius: [40, 80],
              center: ['50%', '40%'],
              roseType: 'radius',
              label: {
                  show: false
              },
              emphasis: {
                label: {
                    show: true
                }
              },
              data: [
                {value: 10, name: '事故一', itemStyle: { color: '#6084FD' }},
                {value: 5, name: '事故二', itemStyle: { color: '#FFAC2E' }},
                {value: 15, name: '事故三', itemStyle: { color: '#69C0FE' }},
              ]
        }
      ]
    };
    // 指定图表的配置项和数据
    let optionF = {
      tooltip: {
        trigger: 'item',
        formatter: '{a} <br/>{b} : {c} ({d}%)'
      },
      legend: {
        left: 'center',
        bottom: 10,
        data: ['事故一', '事故二', '事故三'],
        itemWidth: 4,
        itemHeight: 4
      },
      series: [
        {
          name: '半径模式',
          type: 'pie',
          radius: [20, 50],
          center: ['50%', '40%'],
          roseType: 'radius',
          label: {
              show: false
          },
          emphasis: {
            label: {
                show: true
            }
          },
          data: [
            {value: 10, name: '事故一', itemStyle: { color: '#6084FD' }},
            {value: 5, name: '事故二', itemStyle: { color: '#FFAC2E' }},
            {value: 15, name: '事故三', itemStyle: { color: '#69C0FE' }},
          ]
        }
      ]
    };
    myChartF.setOption(optionF)
    // 使用刚指定的配置项和数据显示图表。
    myChart.setOption(option)
    let option1 = {
      tooltip: {
        trigger: 'axis',
        axisPointer: {
            type: 'cross',
            label: {
                backgroundColor: '#6a7985'
            }
        }
      },
      legend: {
        right: 40,
        data: ['今年', '去年'],
        itemHeight: 10,
        itemWidth: 10,
        icon: 'rect',
        itemGap: 5,
      },
      grid: {
        left: '3%',
        right: '4%',
        bottom: '3%',
        containLabel: true
      },
      xAxis: [
        {
            type: 'category',
            boundaryGap: false,
            data: ['1月', '2月', '3月', '4月', '5月', '6月', '7月', '8月', '9月', '10月', '11月', '12月']
        }
      ],
      yAxis: [
        {
            type: 'value'
        }
      ],
      series: [
        {
            name: '今年',
            type: 'line',
            areaStyle: {
              
            },
            smooth:true,
            itemStyle : { 
              color:{
                type: 'linear',
                x: 0,
                y: 0,
                x2: 0,
                y2: 1,
                colorStops: [{
                    offset: 0, color: '#FF7676' // 0% 处的颜色
                }, {
                    offset: 1, color: '#E9E8E8' // 100% 处的颜色
                }],
                global: false // 缺省为 false
              }
            },
            data: [120, 132, 101, 134, 90, 230, 210, 230, 120, 200, 100, 90]
          },
        {
            name: '去年',
            type: 'line',
            smooth:true,
            itemStyle : { 
              color:{
                type: 'linear',
                x: 0,
                y: 0,
                x2: 0,
                y2: 1,
                colorStops: [{
                    offset: 0, color: '#ABD9FC' // 0% 处的颜色
                }, {
                    offset: 1, color: '#FFFFFF' // 50% 处的颜色
                }],
                global: false // 缺省为 false
              }
            },
            areaStyle: {
              
            },
            data: [220, 182, 191, 234, 290, 330, 310, 220, 182, 191, 234, 200]
        }
      ]
    }
    myChart1.setOption(option1)
    myChart2.setOption(option1)
  </script>
</body>
</html>